<%= render "shared/header" %>

<div id="container">
  <nav id="menubar">
    <ul>
      <li><%= link_to 'Top', articles_path %></li>
      <li><%= link_to 'ログイン', articles_path %></li>
      <li><%= link_to '新規登録', articles_path %></li>
    </ul>
  </nav>

  <div id="contents">
    <section>
      <h2>GALLERY</h2>
      <% @articles.each do |article| %>
        <div class="list">
          <%# link_to good_path(good.id), method: :get do %>
            <%= image_tag article.image %>
            <h4><%= article.title %></h4>
            <p><%= article.price %>円</p>
            <p><%= article.text %></p>
          <%# end %>
        </div>
      <% end %>

      <div class="list">
        <%= image_tag 'sample1.jpg' %>
        <h4>見出しを入れます。</h4>
        <p>値段</p>
        <p>説明を入れます。</p>
      </div>

      <div class="list">
        <%= image_tag 'sample2.jpg' %>
        <h4>ここの見出しの色は、cssフォルダのstyle.cssの「.list h4」で設定されているcolorのコードで変更できます。</h4>
        <p>左の画像の幅もstyle.cssの「.list img」のwidthの数字で変更できます。</p>
      </div>

      <div class="list">
        <%= image_tag 'sample3.jpg' %>
        <h4>見出しを入れます。</h4>
        <p>説明を入れます。</p>
      </div>

      <div class="list">
        <%= image_tag 'sample4.jpg' %>
        <h4>見出しを入れます。</h4>
        <p>説明を入れます。</p>
      </div>

      <div class="list">
        <%= image_tag 'sample5.jpg' %>
        <h4>見出しを入れます。</h4>
        <p>説明を入れます。</p>
      </div>
    </section>
  </div>
</div>
