<%= render "shared/header" %>

<div id="container">
  <nav id="menubar">
    <ul>
      <li><%= link_to 'Top', articles_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to '新規投稿', new_article_path %></li>
        <li><%=link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>

  <div id="contents">
    <section>
      <h2>GALLERY</h2>
      <% @articles.each do |article| %>
        <div class="list">
          <%= link_to article_path(article.id), method: :get do %>
            <%= image_tag article.image %>
            <h4><%= article.title %></h4>
            <p>掛かった金額：<%= article.price %></p>
            <p><%= article.text %></p>
          <% end %>
        </div>
      <% end %>
    </section>
  </div>
</div>

<%= render "shared/footer" %>