<%= render "shared/second-header" %>

<div class="item-show">
  <div class="item-box">
    <div class="item-img-content">
      <%= image_tag @article.image ,class:"item-box-img" %>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @article.user.id %>
        <%= link_to "記事の編集", edit_article_path(@article), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", article_path(@article), method: :delete, class:"item-destroy" %>
      <% end %>
    <% end %>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @article.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">タイトル</th>
          <td class="detail-value"><%= @article.title %></td>
        </tr>
        <tr>
          <th class="detail-item">費用</th>
          <td class="detail-value"><%= @article.price %></td>
        </tr>
        <tr>
          <th class="detail-item">コメント</th>
          <td class="detail-value"><%= @article.text %></td>
        </tr>
      </tbody>
    </table>
    <%# <div class="option"> %>
      <%# <div class="favorite-btn"> %>
        <%# <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <%# <span>お気に入り 0</span> %>
      <%# </div> %>
      <%# <div class="report-btn"> %>
        <%# <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <%# <span>不適切な記事の通報</span> %>
      <%# </div> %>
    <%# </div> %>
  </div>

  <div id="comments">
    <h4>＜コメント一覧＞</h4>
      <% @article.comments.each do |comment| %>
        <div class="comment">
          <p class="user-info"><%= comment.user.nickname %>： </p>
          <p><%= comment.text%></p>
        </div>
      <% end %>
  </div>

  <div class="comment-box">
    <% if user_signed_in? %>
      <%= form_with model: [@article, @comment], id: "comment-box" do |f| %>
        <%= f.text_area :text , class: "comment-text"%>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <%= f.submit "コメントをする", class: "comment-btn" %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "shared/second-footer" %>
